{% extends 'layouts/base.html.twig' %}

{% block body %}
{{ include('_navbar.html.twig')}}

    <div class="card-login" style="width: 35rem;">
      <div class="registration">
        <h2 class="">Créer un compte</h2>

        {{ form_start(form) }}
        {{ form_row(form.username, {'attr': {'placeholder': 'Nom de compte'}}) }}
        {{ form_row(form.email, {'attr': {'placeholder': 'email'}}) }}
        {{ form_row(form.password , {'attr': {'placeholder': 'Mot de passe'}}) }}
        {{ form_row(form.confirm_password, {'attr': {'placeholder': 'Confirmer me mot de passe'}})}}
        <br>
        <input class="" type="submit">
      </div>
    </div>
        {{ form_end(form) }} 

        {{ include('footer.html.twig')}}

{% endblock %}


