{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ include('_navbar.html.twig')}}

<div class="card bg-dark text-white">
  <img class="card-img banner">
  <div class="card-img-overlay">
    <p class="card-text-header">Trouvez ou vous entrainer partout en FRANCE !</p>
    <div class="btn-header">
    <a href="#" class="btn btn-primary btn-card">Trouver une salle</a>
    <a href="#" class="btn btn-primary btn-card-1">Connexion</a>
    </div>  
  </div>
</div>

{# CARDS #}
<div class="card-group">
  <div class="card text-center" style="width: 18rem; height:25rem">
    <div class="card-body-1">
      <h2 class="card-title-1">Calculez votre IWF</h2>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary btn-card">Calculer mon IWF</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; height:25rem">
    <div class="card-body-2">
      <h2 class="card-title-2">Tous les résultats du championnat de France par équipe</h2>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary btn-card">Voir les résultats</a>
    </div>
  </div>
  <div class="card text-center" style="width: 18rem; height:25rem">
    <div class="card-body-3">
      <h2 class="card-title-1">Trouvez une salle ou Souleverdesbarres</h2>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary btn-card">Trouver une salle</a>
    </div>
  </div>
</div>
{# TABLE #}
<h1 class="titre-table">Toutes les salles pour pratiquer l'haltérophilie</h1>
{% include 'search/search.html.twig' %}  

<table class="table home-table">
  <thead class="thead-color">
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">adresse</th>
      <th scope="col">Email</th>
      <th scope="col">Label</th>

    </tr>
  </thead>
  {% for gym in gyms %}            

  <tbody>
    <tr>
      <td><img class="icon-bar" src="https://image.flaticon.com/icons/png/512/1000/1000059.png" alt=""></td>
      <td>{{ gym.name }}</td>
      <td>{{ gym.adress }}</td>
      <td>{{ gym.email }}</td>
      <td>{{ gym.label }}</td>

    </tr>
    <tr>
  </tbody>

  {% endfor %}

</table>

{{knp_pagination_render(gyms)}}





{# footer #}
{{ include('footer.html.twig')}}


<!-- component 
<header class="" style="background-image: url('https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');">
  <div class="">
      <nav class="">
          <h2 class=" "><a href="http://localhost:8000/home">Souleverdesbarres.com</a></h2>
          <div class="">
            {% if not app.user %}
            <a href="{{ path('security_login')}}" class="">Connexion</a>
            {% else %}
            <a href="{{ path('security_logout')}}" class="">Déconnexion</a>
            {% endif %}
            <a href="{{ path('security_registration')}}" class="">S'inscrire</a>
              <a href="{{ path('app_rooms_index')}}" class="">Forum</a>

          </div>
      </nav>

    
        {# TEXT BIENVENUE #}
        
      <div class="">
          <div class="">
              <div class="">
                  <h1 class="">Bienvenue</h1>
                  <h2 class="">Voyagez partout en France et trouvez un endroit ou vous <span class="text-blue-500"> entrainer</span></h2>
                  <p class="">Premier site en France référencant toutes les salles ou il est possible de faire de l'haltérophilie en France.</p>
                  <span class="">Pas encore inscrit ?<a href="{{ path('security_registration')}}" class="">Créer un compte</a>
                  </span>
              </div>

              {# SEARCH #}
          </div>
      </div>
  </div>
</header>

{# SALLES #}


<div class="">
  <div class="">
      <div class="">
          <p tabindex="0" class="">Toutes les salles</p>
          
      </div>
  </div>
  <div class="">
      <table class="">
          <thead>
              <tr tabindex="0" class="">
                  <th class="">Nom</th>
                  <th class="">Numéro de tel</th>
                  <th class="">Adresse</th>
                  <th class="">Email</th>
                  <th class="">Label</th>
              </tr>
          </thead>
          <tbody class="">
            {% for gym in gyms %}            

            <tr tabindex="0" class="">
                <td>
                <div class="">
                     <div class="">
                         <img class="" src="https://image.flaticon.com/icons/png/512/1000/1000059.png" alt="UX Design and Visual Strategy" />
                     </div>
                     <div class="">
                     <p class="">{{ gym.name }}</p>
                  </div>
                </div>
              </td>
              <td class="">{{ gym.number }}</td>
              <td class="">{{ gym.adress }}</td>
              <td class="">{{ gym.email }}</td>
              <td class="">{{ gym.label }}</td>
            </tr>

            {% endfor %}

          </tbody>
      </table>
      {{knp_pagination_render(gyms)}}
  </div>
</div>
</body>
 -->


{% endblock %}
