{% extends 'layouts/base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}



{{ include('_navbar.html.twig')}}

   
{# TABLE #}
<h1 class="h1-forum">FORUM</h1>
            {% for room in rooms %}
            <div class="card-forum" style="width: 75rem;">

            <table class="table table-striped">
            <p class="room-name">{{ room.name }}</p>
            </td>
             <td class="">
             <a class="room-btn" href="{{ path('app_rooms_show', {'id': room.id})}}">Entrer dans la discussion</a>
            </td>
            <td class="">
            <a class="room-btn" href="{{ path('app_rooms_edit', {'id': room.id})}}">Editer la discussion</a>
            </td>
            
            {% endfor %}
        </table>
            </div>


{{ include('footer.html.twig')}}


{% endblock %}
