<!DOCTYPE html>

<title>Gym index</title>

{% block body %}
    <h1>Gym index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Number</th>
                <th>Email</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gym in gyms %}
            <tr>
                <td>{{ gym.id }}</td>
                <td>{{ gym.city }}</td>
                <td>{{ gym.name }}</td>
                <td>{{ gym.adress }}</td>
                <td>{{ gym.number }}</td>
                <td>{{ gym.email }}</td>
                <td>{{ gym.label }}</td>
                <td>
                    <a href="{{ path('gym_show', {'id': gym.id}) }}">show</a>
                    <a href="{{ path('gym_edit', {'id': gym.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gym_new') }}">Create new</a>
{% endblock %}
