<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Souleverdesbarres</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav2-item active">
        <a class="nav-link-1" href="{{ path('home')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav2-item">
        <a class="nav-link-1" href="{{ path('blog_index')}}">Actualités</a>
      </li>
      <li class="nav2-item">
        <a class="nav-link-1" href="{{ path('app_rooms_index')}}">Forum</a>
      </li>
      {% if not app.user %}
        <li class="nav2-item">
            <a class="nav-link-home" href="{{ path('security_login')}}">Connexion</a>
          </li>
          {% else %}
          <li class="nav2-item">
            <a class="nav-link-1" href="{{ path('security_logout')}}" class="">Déconnexion</a>
            </li>
            <li class="nav2-item">
            <a class="nav-link-1" href="{{ path('user_page')}}">Mon compte</a>
          </li>
          {% endif %}
      <li class="nav2-item">
        <a class="nav-link-1" href="{{ path('security_registration')}}">S'inscrire</a>
      </li>
    </ul>
  </div>
</nav>